<div id="edit_profil">
<form id="register" method="post" action="/users/<%= @user.id %>"  enctype="multipart/form-data">
  <input type="hidden" name="_method" value="put">
  <div class="form-group">
    <label for="first_name">First name</label>
    <input name="user[first_name]" type="text" class="form-control" id="username" placeholder="First name" value="<%= @user.first_name %>">
  </div>
  <div class="form-group">
    <label for="last_name">Last name</label>
    <input name="user[last_name]" type="text" class="form-control" id="username" placeholder="Last name" value="<%= @user.last_name %>">
  </div>
  <div class="form-group">
    <label for="username">Username</label>
    <input name="user[username]" type="text" class="form-control" id="username" placeholder="Username" value="<%= @user.username %>">
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input name="user[email]" type="email" class="form-control" id="email" placeholder="Email" value="<%= @user.email %>">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input name="user[password]" type="password" class="form-control" id="password" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="gender">Gender</label><br>
    <input type="radio" name="user[gender]" value="male"> Male<br>
    <input type="radio" name="user[gender]" value="female"> Female<br>
    <input type="radio" name="user[gender]" value="other"> Other
  </div>
  <div class="form-group">
    <label for="age">Age</label>
    <input name="user[age]" type="number" class="form-control" id="age" placeholder="age" value="<%= @user.age %>">
  </div>
  <div class="form-group">
    <label for="comment">Comment</label>
    <input name="user[comment]" type="text" class="form-control" id="comment" placeholder="comment" value="<%= @user.comment %>">
  </div>
  </li>
 
  <button type="submit" class="btn btn-primary" role="button">Edit your profile</button>
</form>
</div>
