


<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail" id="user_show">
      <% if @user.profile_pic_identifier %>
        <img class="media-object" src="/uploads/<%= @user.profile_pic_identifier %>" alt="<%= @user.username %>'s image">
      <% else %>
        <img class="media-object" src="/images/default.png" alt="<%= @user.username %>'s image">
      <% end %>
      <div class="caption">
        <h3><%= @user.username %></h3>
        <p>First name: <%= @user.first_name %></p>
        <p>Last name: <%= @user.last_name %></p>
        <!-- <p>Email: <%= @user.email %></p> -->
        <p>Gender: <%= @user.gender %></p>
        <p>Age: <%= @user.age %></p>
        <p>Comment: <%= @user.comment %></p>
        <p><a href="/messages/new?recipient_id=<%= @user.id %>" class="btn btn-primary" role="button">Get in touch </a></p>
      </div>
    </div>
  </div>
</div>
