<h2><%= @user.username %></h2>
<% if @user.profile_pic %>
  <img class="media-object" src="/uploaders/<%= @user.profile_pic%>" alt="<%= @user.username %>'s image">
<% else %>
  <img class="media-object" src="/images/default.png" alt="<%= @user.username %>'s image">
<% end %>
<p><%= @user.first_name %></p>
<p><%= @user.last_name %></p>
<p><%= @user.email %></p>

<button><a href="/messages/new?recipient_id=<%= @user.id %>">Get in touch </a></button>
