<h2>All properties</h2>
<h4>Filter by address, postcode or city: </h4>
<form id="search-form" class="form-inline" action="/properties">
  <input type="text" name="search" placeholder="Search" value="<%= params[:search] %>" class="form-control">
  <button class="btn btn-primary" id="search_button">Go</button>
  <a href="/properties" class="btn btn-primary" role="button" id="back_search_button"> Back to all properties </a>
</form>

<div class="row">
  <ul class="media-list">
    <% @properties.each do |property| %>
      <div class="col-lg-3 col-xs-12 col-md-4">
        <div class="thumbnail">
          <li class="media">
            <div class="media-left">
              <% if property.profile_pic_identifier %>
                <img class="media-object" src="/uploads/<%= property.profile_pic_identifier %>">
              <% else %>
                <img class="media-object" src="/images/default.png">
              <% end %>
              <div class="caption">
                <h3 class="media-heading"><%= property.owner%></h3>
                <p><%= property.price %> £</p>
                <p><a href="/properties/<%= property.id %>" class="btn btn-primary" role="button">  More informations </a></p>
              </div>
            </div>
          </li>
        </div>
      </div>
    <% end %>
  </ul>
</div>
<p><a href="#" class="btn btn-primary">Scroll To Top Of The Page</a></p>




