<div class="row">
  <ul class="media-list">
    
      <div class="col-md-6"><h2>Property Informations</h2>
        <div class="thumbnail">
         <% if @property.profile_pic_identifier %>
           <img class="media-object" src="/uploads/<%= @property.profile_pic_identifier %>">
         <% else %>
           <img class="media-object" src="/images/default.png">
         <% end %>
          
          <p>Price: <%= @property.price %> £ </p>
          <p>Property type: <%= @property.property_type %></p>
          <p>Number of free rooms: <%= @property.number_of_rooms %></p>
          <p>Address: <%= @property.address1 %></p>
          <p>Postcode: <%= @property.postcode %></p>
          <p>City: <%= @property.city %></p>
          <p>Comments: <%= @property.comment %></p>
        </div>
      </div>
      <div class="col-md-6"><h2>Owner Profile </h2>
        <div class="thumbnail">
       <% if @property.user.profile_pic_identifier %>
         <img class="media-object" src="/uploads/<%= @property.user.profile_pic_identifier %>">
       <% else %>
         <img class="media-object" src="/images/default.png">
       <% end %>
  
        <p>First Name: <%= @property.user.first_name %> </p>
        <p>Last Name: <%= @property.user.last_name %> </p> 
      </div>
      <p><a href="/users/<%= @property.user.id %>" class="btn btn-primary" >Check  <%= @property.user.username%> full profile </a></p>
    </div>
  </ul>
</div>

