<!DOCTYPE html>
<html lang="en">
<head>
  <%= css :application %>
  <%= js :application %>
</head>
  <body>
    <header>
      <nav class="navbar navbar-inverse">
       <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">
              <img id= "logo" alt="Brand" src="./images/logo.png">
            </a>
          </div>
        </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/users">Users</a></li>
              <% if is_logged_in? %>
              <!-- some user specific menu items -->
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.username %> <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/users/<%= current_user.id %>">Profile</a></li>
                    <li><a href="/users/<%= current_user.id %>/edit">Edit Profile</a></li>
                    <li><a href="/logout">Logout</a></li>
                  </ul>
                </li>
              <% else %>
              <li><a href="/register">Register</a></li>
              <li><a href="/login">Login</a></li>
              <% end %>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </header>
    <main class="container">
      <%= styled_flash %>
      <%= yield %>
    <main>
  </body>
</html>
